
input[type="text"], 
textarea, 
textarea.form-control {
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

input[type="text"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
    border: 1px solid #be5254;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-form form input, 
.contact-form form textarea { border: 2px solid #fff; }

.contact-form form input:focus, 
.contact-form form textarea:focus { border: 2px solid #be5254; }

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }


.subscribe button, 
.contact-form button {
	height: 52px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #be5254;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 52px;
    color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.subscribe button:hover, 
.contact-form button:hover {
    background: #eee;
    color: #888;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.contact-form button:hover { background: #888; color: #fff; }

.subscribe button:active, 
.contact-form button:active {
	outline: 0;
    background: #eee;
    color: #888;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.contact-form button:active { background: #888; color: #fff; }

.subscribe button:focus, 
.contact-form button:focus {
	outline: 0;
	background: #be5254;
	color: #fff;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0;
	background: #be5254;
	color: #fff;
}
